<div class="row">
	<div class="col-md-12">
		<h3>Capturar Resultados Semana {{vm.week}}</h3>
		<table class="table table-striped matchs">
		<thead>
			<th>Visitante</th>
			<th></th>
			<th></th>
			<th></th>
			<th>Local</th>
		</thead>
		<tr ng-repeat="result in vm.Results">
			<td>
				<img src="img/{{result.AwayImage}}" class="img-responsive center-block">
				<p>{{result.AwayName}} {{result.AwayState}}</p>
			</td>
			<td>
				<input type="test" class="form-control" style="width:45px; float:right;" ng-model="result.AwayPts" maxlength="2"/>
			</td>
			<td style="text-align:center;">
				<p>&nbsp;{{vm.responseMsg}}</p>
				<button class="btn btn-primary" ng-click="vm.saveResult($index)">Guardar</button>
			</td>
			<td>
				<input type="test" class="form-control" style="width:45px;" ng-model="result.HomePts" maxlength="2"/>
			</td>
			<td>
				<img src="img/{{result.HomeImage}}" class="img-responsive center-block">
				<p>{{result.HomeName}} {{result.HomeState}}</p>
			</td>
		</tr>
	</table>
	</div>
</div>